.principalTit{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: solid underline;
    text-align: center;
    font-size: 70px;
    
}
.titNoticias {
    font-weight: 500;
    
    font-size: 50px;    
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    padding-bottom: 30px;
    padding-top: 100px;

  }

.noticiasContainer {
    margin: 700px 10rem;  
    width: 55%;
    margin: auto;
    margin-bottom: 30px;
    img{
    
        width: 100%;
    }
    p {
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: white;
        font-size: 20px;
        margin-top: 10px;
        width: 100%;
    }
}
.celebracionContainer {
    margin: 700px 10rem;  
    width: 55%;
    margin: auto;
    margin-bottom: 30px;
    img{
    
        width: 100%;
    }
    p {
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: white;
        font-size: 20px;
        margin-top: 10px;
        width: 100%;
    }

}   
.memo {
    margin: 700px 10rem;  
    width: 55%;
    margin: auto;
    margin-bottom: 30px;
    img{
    
        width: 100%;
    }
    h5{
        font-size: 30px ;
        color: gray;
    }
    p {
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: white;
        font-size: 20px;
        margin-top: 10px;
        width: 100%;
    }
}